.rightside {
  display: flex;
  align-items: center;
}
.buttons {
  display: flex;
  margin-right: 30px;
}
.name {
  border-radius: 7px;
  height: 45px;
  padding: 0 8px;
  cursor: pointer;
  margin-right: 30px;
  display: flex;
  align-items: center;
  position: relative;
}
.popOver {
  border-radius: 5px;
  position: absolute;
  background-color: white;
  top: 50px;
  padding: 15px;
}
.emailIcon {
  color: white;
}
.logoutIcon {
  color: white;
}
.link {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}
