.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .footer {
    position: unset;
    bottom: unset;
  }
}
